.archivers {
	margin:0;
	padding:0;
}

.archivers th {
	width: auto;
}

.wpelf-regular-text {
	display: inline-block;
	width: 27em;
	text-align: center;
}

.wpelf-small-text {
	display: inline-block;
	width: 52px;
	text-align: center;
	margin: 0 2px;
}

.wpelf-tiny-text {
	display: inline-block;
	width: 39px;
	text-align: center;
	margin: 0 2px;
}